* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

header {
    position:fixed;
    height: 70px;
    width:100%;
    z-index: 1;
    
} 

.header-container {
    
    background-color: #FF6900;
    
    
}



.main-container {
    margin:0 auto;
    width: 1200px;   
}

.nav-bar {
    margin:0 auto;
    width: 1200px;
    display: flex;
    justify-content: space-between;
    
}

ul, li {
    list-style-type:none;
    display: flex;
    color:white;
    margin: 10px 5px;
    font-size: 20px;
}

.logo {
    height: 30px;
    margin:20px 0;
}

i {
    color: white;
    margin: 25px 0;
}



.column {
    position:relative;
}

#products .row {
    display: flex;
    flex-wrap:wrap;
    margin: 0 -10px;
}

#products img {
    max-width: 100%;
    margin-top: 100px;

}

#products .col {
    flex-basis: calc(100% / 3);
    padding: 10px;
    margin-bottom: 30px;
}

.card .card-image {
    cursor: pointer;
    position:relative;
}

.card-image .main-image {
    display: block;
}

.card-image .secondary-image {
    display: none;
}

.card-image:hover .main-image {
    display: none;
}

.card-image:hover .secondary-image {
    display: block;
}

.card-image .favourite {
    position:absolute;
    right: 0;
    top:10px;
    font-size: 36px;
    width:50px;
    height:50px;
    background-color: white;
    text-align:center;
}

.card-image .favourite:hover {
    color: red;
}

.card-images .badges {
    position:absolute;
    left:0;
    bottom: 50px;
    border: 1px solid black;
    
}

.badges .badge {
    color: white;
    font-weight: bold;
    padding: 5px 10px;
}

.badge.badge-discount {
    background-color: red;
}

.badge.badge-label {
    background-color: green;
}

.card-text {
    font-size: 14px;
}

.article-price strong {
    color:red;
}