* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

header {
    position:fixed;
    height: 70px;
    width:100%;
} 

.header-container {
    
    background-color: #FF6900;
    
}



.main-container {
    margin:0 auto;
    width: 1200px;   
}

.nav-bar {
    margin:0 auto;
    width: 1200px;
    display: flex;
    justify-content: space-between;
    
}

ul, li {
    list-style-type:none;
    display: flex;
    color:white;
    margin: 10px 5px;
    font-size: 20px;
}

.logo {
    height: 30px;
    margin:20px 0;
}

i {
    color: white;
    margin: 25px 0;
}

.column {
}

.first-img {
 height: 600px;
 width: 380px;
 margin-left: 10px;
}